/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}
/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

header.shadow .logo{
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span{
    color: rgba(77, 228, 255);
}
/**header end*/

/* Form styling */
form {
    margin-bottom: 30px;
    margin-right: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

/* Post styling */
.post {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Comment section styling */
.comments {
    margin-top: 20px;
}

.comments input {
    width: 70%;
    margin-bottom: 10px;
}

.comments button {
    width: 20%;
    margin-bottom: 10px;
}

.commentList {
    margin-top: 10px;
}

.commentList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
